* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Luckiest Guy, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 3rem;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(37, 145, 251, 0.98) 0.1%,
    rgba(0, 7, 128, 1) 99.8%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(25, 30, 129, 0.781) 0%,
    rgba(39, 35, 65, 0.692) 97.5%
  );
  padding: 1rem;
  border-bottom: 1px solid #fefb72;
  box-shadow: 5px 5px 8px rgba(83, 81, 81, 0.527);
  margin-bottom: 3rem;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.button-wrapper {
  height: 50px;
  width: 150px;
  background: linear-gradient(#fefb72, #fefb72);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.2s;
}

.button-wrapper:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px 0px rgba(#111, 0.8);
}
.button-inner {
  height: 75%;
  width: 90%;
  background: linear-gradient(#ddd905, #fefb72);
  transform: skew(-5deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-inner * {
  text-decoration: none;
}

.button-inner p {
  font-size: 1.25rem;
  color: #2c3076;
  margin: 15px 0 0 0;
}

.items * {
  color: #fefefe;
  letter-spacing: 2px;
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #fefefe;
}

.item-detail {
  border: 3px solid rgba(0, 7, 128, 1);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 1.5rem;
  display: grid;
  place-items: center;
  box-shadow: 3px 3px 3px rgba(143, 166, 243, 0.425);
}

.item-detail > * {
  color: rgba(0, 7, 128, 1);
  margin-bottom: 1rem;
  font-size: 1.35rem;
  text-align: center;
}

.item-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 10rem);
  gap: 0.25rem;
}

.item-box {
  border: 2px solid #fefb72;
  width: 7rem;
  font-size: 1rem;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

.imgs {
  width: 5rem;
  margin: 0 auto 0.25rem;
}

article {
  background-color: white;
  margin-bottom: 2rem;
  border: 2px solid #fefb72;
  color: rgba(0, 7, 128, 1);
  border-radius: 5px;
}

.text {
  padding: 1rem;
}

.text > div {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.75rem;
}

.wrapper-home {
  width: 90%;
  margin: 0 auto;
}

.front-title {
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: 4px;
  color: rgba(0, 7, 128, 1);
  text-shadow: 1px 1px white, -1px 1px white, 1px -1px white, -1px -1px white;
}

@media (min-width: 40em) {
  .wrapper-home {
    width: min(90%, 50rem);
    margin-top: 8rem;
  }

  .text {
    margin-top: 4rem;
  }

  .text > div {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  .text p {
    font-size: 1.25rem;
    padding: 0 2rem;
  }

  article {
    margin-bottom: 5rem;
  }

  .front-title {
    font-size: 5rem;
    margin-bottom: 5rem;
    letter-spacing: 7px;
    border-bottom: 2px solid #fefb72;
  }

  .wrapper {
    width: min(90%, 56rem);
    margin: 7rem auto;
  }

  .item-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 7rem);
    grid-template-rows: repeat(auto-fit, 10rem);
  }

  .item-detail {
    margin-bottom: 5rem;
  }
}
